h1 {
  text-align: center;
}
table {
  width: 100%;
  margin-bottom: 50px;
}
table #heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

table #user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
